   .dance-detail-section {
  /* background: #f4f4f4 url('image/music-bg.png'); */
  padding: 60px 0;
}
.dance-card {
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.dance-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.dance-title span {
  background: linear-gradient(90deg, #ff7a18, #8e2de2);
  
}
.dance-text {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 25px;
}
.enquiry-btn {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(90deg, #ff7a18, #ffb347) !important;
  color: #fff !important;
  border-radius: 30px;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.enquiry-btn:hover {
  transform: translateY(-3px);
}
.dance-img {
  max-width: 100%;
  height: auto;
}
.register-section {
  background: url('image/form_baner.webp') no-repeat center;
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

/* LIGHT OVERLAY */
.register-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
}

.register-section .container {
  position: relative;
  z-index: 2;
}


.register-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.register-subtitle {
  color: #666;
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
}


.register-box {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: left;
  height: 90%;
}

/* INPUT */
.input-group-text {
  background: #eee;
}

.form-control {
  height: 45px;
}

/* BUTTON */
.custom-btn {
  background: linear-gradient(90deg, #ff7a18, #ff3b47);
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

.custom-btn:hover {
  transform: translateY(-3px);
  color: #fff;
}
@media (max-width: 576px) {
  .dance-title {
    font-size: 24px;
  }

  .dance-text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {

  .register-title {
    font-size: 28px;
  }

  .register-box {
    padding: 20px;
  }

  .custom-btn {
    margin-bottom: 10px;
  }
}
.gallery-section {
  /* background: #f4f4f4 url('images/music-bg.png'); */
  padding: 30px 10px;
}


.gallery-item {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}


.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s ease;
}


.gallery-item:hover img {
  transform: scale(1.08);
}


@media (max-width: 768px) {
  .gallery-item img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .gallery-item img {
    height: 180px;
  }
}

  
    .video-section {
        background: #f2f2f2 url('https://www.transparenttextures.com/patterns/music.png');
        padding: 50px 20px;
    }

    
    .video-container {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

   
    .video-box iframe {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        border: none;
    }

   
    @media (max-width: 768px) {
        .video-container {
            grid-template-columns: 1fr;
        }

        .video-box iframe {
            height: 220px;
        }
    }
  .contact-map-sec {
  background: #9e9e9e;
  padding: 60px 20px 0;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.contact-map-sec::before {
  content: "";
  position: absolute;
  /* background: url('https://www.transparenttextures.com/patterns/music.png'); */
  opacity: 0.2;
}


.contact-map-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  z-index: 1;
}


.cm-left {
  flex: 1;
  color: #fff;
}

.cm-left h2 {
  font-size: 18px;
}

.cm-sub {
  margin-bottom: 25px;
}

.cm-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.cm-icon {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a2a;
}


.cm-right {
  flex: 1;
  background: #f3f3f3;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.cm-right h2 {
  color: #0a0a2a;
  margin-bottom: 20px;
}

.cm-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.cm-right input,
.cm-right select,
.cm-right textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.cm-right textarea {
  height: 120px;
  margin-bottom: 15px;
}

.cm-right button {
  background: linear-gradient(45deg, #ff6a00, #ffb347);
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}


.cm-map {
  margin-top: 40px;
}

.cm-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

@media (max-width: 992px) {
  .contact-map-container {
    flex-direction: column;
  }

  .cm-right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cm-row {
    flex-direction: column;
  }

  .cm-left h2 {
    font-size: 18px;
  }

  .cm-map iframe {
    height: 300px;
  }
}
