@media (max-width: 992px){
    .hero-title{
        font-size: 2.2rem;
    }
}

@media (max-width: 576px){
    .hero-title{
        font-size: 1.6rem;
    }
    .hero-slide{
        min-height: 400px;
    }
}
@media (max-width: 768px){
    .video-btn{
        width: 70px;
        height: 70px;
    }

    .video-btn i{
        font-size: 28px;
    }
}
@media (max-width: 768px) {
  .cta-title {
    font-size: 28px;
  }

  .cta-desc {
    font-size: 14px;
  }

  .cta-section {
    padding: 40px 15px;
  }
}
@media (max-width: 768px) {

  .band-heading {
    font-size: 26px;
  }

  .band-form {
    border-radius: 20px;
  }

  .band-img {
    margin-top: 25px;
    max-height: 350px;
  }

  .band-text {
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .faculty-title {
    font-size: 26px;
  }

  .faculty-subtitle {
    font-size: 14px;
  }

  .faculty-card {
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .trainer-title {
    font-size: 26px;
  }

  .logo-row {
    justify-content: center;
  }

  .trainer-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .read-btn {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .trainer-section {
    padding: 50px 0;
  }

  .trainer-card {
    margin: auto;
  }

  .trainer-title {
    text-align: center;
  }

  .trainer-text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contact-title {
    font-size: 28px;
  }

  .contact-box {
    padding: 20px;
  }

  .map-box iframe {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .metronome-section {
    text-align: center;
  }

  .logo-box {
    justify-content: center;
  }

  .metro-text {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .working-hours {
    text-align: center;
  }

  .contact-item {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .address-item {
    justify-content: center;
    text-align: left;
  }
}


@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer-bottom {
    justify-content: center; /* mobile me center */
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about-banner {
    height: 180px;
    padding: 20px;
  }

  .banner-content h1 {
    font-size: 32px;
  }

  .banner-content p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .class-title {
    font-size: 20px;
  }

  .class-text {
    font-size: 13px;
  }

  .line-gradient {
    width: 80%;
    margin: 15px auto;
  }

  .know-btn {
    display: block;
    margin: 10px auto;
  }
}

@media (max-width: 992px) {
  .dance-card {
    padding: 25px;
  }

  .dance-title {
    font-size: 28px;
    text-align: center;
  }

  .dance-text {
    text-align: center;
  }

  .enquiry-btn {
    display: block;
    margin: auto;
  }
}

